.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
  background-color: #000D10;
}

.screen {
  height: 100vh;
  width: 100vw;
  background-color: #000D10;
  position: relative;
}

.board {
  margin-top: 3vh;
  margin-right: 2vw;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.square {
  width: 60px;
  height: 60px;
  background-color: whitesmoke;
  margin: 5px;
  transition: all 0.2s;
  border-radius: 0;
  clip-path: polygon(
    36% 0,
    0 0,
    0 29%,
    0 57%,
    0 100%,
    30% 100%,
    73% 100%,
    100% 100%,
    100% 59%,
    100% 31%,
    100% 0,
    74% 0
  );
}

.square--S {
  background-color: darkkhaki;
  clip-path: polygon(
    80% 20%,
    71% 33%,
    50% 22%,
    34% 33%,
    79% 57%,
    79% 79%,
    50% 95%,
    16% 80%,
    25% 65%,
    49% 77%,
    62% 68%,
    18% 45%,
    18% 24%,
    48% 4%
  );
}

.square--O {
  background-color:  darkkhaki;
  /* border-radius: 50%; */
  clip-path: polygon(
    50% 0%,
    83% 12%,
    100% 43%,
    94% 78%,
    68% 100%,
    32% 100%,
    6% 78%,
    0% 43%,
    17% 12%
  );
}

.square--S.winner {
  /* animation: point-animation-1 infinite 0.5s ease-in-out; */
  background-color:  #063B1D;
}

.square--O.winner {
  /* animation: point-animation-1 infinite 0.5s ease-in-out; */
  background-color:  darkred;
}

.score-board {
  width: 820px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 5px;
  margin-right: 1.8vw;
}

.score-board div {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 2em;
  padding: 5px;
  font-weight: bold;
  background-color: #063B1D;
}

.score-board div:first-child {
  background-color: darkred;
}

.player-turn {
  color: white;
}

#panel-score {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  margin-left: 4vh;
}

.turnBtn {
  background-color: darkkhaki; 
  border: none;
  color:  #000D10;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: larger;
}

.turnBtn:hover {
  background-color: #C48F40;
  color:  #000D10;
}

#reset-btn {
    background-color: darkkhaki; 
    border: none;
    color:  #000D10;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-left: 4vh;
    cursor: pointer;
    border-radius: 8px;
  
}

#reset-btn:active {
  background-color: #C48F40;
}

.board {
  margin-left: 10vh;
}

.player--1 {
  color: darkred;
  text-shadow: darkkhaki 0em 0em 0.1em;
  letter-spacing: media;
}

.player--2 {
  color: #063B1D;
  text-shadow: darkkhaki 0em 0em 0.1em;
  letter-spacing: media;
}

#left-screen {
 margin-top: -40vh;
 margin-left: -7vh;
 position: relative;
}

#left-screen header {
  padding-top: 5vh;
 }

.titulo-modal {
 color: #000D10;
}

.winner {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.winner .text {
  background: #000D10;
  height: 300px;
  width: 320px;
  border: 2px solid #eee;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.text h1 {
  color:white;
}

.btn-modal {
margin-left: -1vw;
}



